h1 {
    color: red;
    font-size: 40px;
}
h1:hover {
    color: pink;
    font-size: 40px;
}
p {
    color: blue;
    font-size: 20px;
    font-family: Arial, Verdana;
    line-height: 1.5;
    text-indent: 40px;
    text-decoration: underline;
}
.highlight-link {
    color: red;                /* 設定文字顏色為紅色 */
    text-decoration: underline; /* 設定文字加上底線 */
}
.red {
    color: red;
    font-size: 25px;
}
a {
    color: green;
    font-size: 15px;
}
a:hover {
    color: red;
    font-size: 20px;
}
a:active {
    color: yellow;
    font-size: 20px;
}
.pink {
    color: pink;
    font-size: 25px;
}
